<head>
  <title>SEO v 1.0</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/ajaxupload.js"></script>
  <style type="text/css">
    form {margin-bottom:0px;} input[type=text] {margin-bottom:0px;}
        .navbar-inner

    {padding:0px;}
  </style>
  <script type="text/javascript">
    $(document).ready(function () {
      $("[data-active]").each(function () {
        _option = $(this).find("option[value='" + $(this).attr("data-active") + "']");
        _option.prop("selected", true);
      });
      $(".update").on("click", function (e) {
        e.preventDefault();
        $(this).parents("tr").wrap("<form method='post' />");//find("input, select")
        $(this).parents("form").submit();
      })
    });
  </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header pull-right">
    <a class="navbar-brand" href="index.php?a=112&amp;id=4">SEO</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.php?a=112&amp;id=4&amp;get=robots"><span class="icon icon-adjust"></span> Robots.txt</a></li>
      <li><a href="index.php?a=112&amp;id=4&amp;get=sitemap"><span class="icon icon-map-marker"></span> Карта сайта</a></li>
      <li><a href="index.php?a=112&amp;id=4&amp;get=counters"><span class="icon icon-globe"></span> Счетчики</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<br/><br/><br/><br/>
</body>